html, body, #root {
	
  height: 100%;
	width: 100%;
}
button:focus, button:focus-visible {
  outline: 0;
}
 
.App {
  height: 100%;
	width: 100%;
}
.Nav{
  display:flex;
   
}
.Routes{
  display:block;
}
